<!--<div class="users-new-wrapper">-->
  <!--<div class = "row">-->
  <!--  <div class="container">-->
  <div class="col-md-offset-4 col-md-5 inquiry-container">


  <%= simple_form_for(@inquiry, url: { action: :confirm }) do |f| %>
    <h2>サイト管理者へのメッセージ</h2>
    <%= f.input :name, label: "お名前（ニックネーム可）", placeholder: "20文字以内"  %>
    <%= f.input :email, label: "メールアドレス", placeholder: "30文字以内"  %>
    <%= f.input :message, as: :text, label: "メッセージ" %>
    <%= f.button :submit, "確認画面へ", :class => "btn-primary" %>
  <% end %>

  </div>
  <!--  </div>-->
  <!--</div>-->
<!--</div>-->